body {
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

form {
    margin: auto;
    background-color: rgb(193, 252, 250);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 3px solid rgb(27, 6, 253);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(193, 252, 250);
}

legend {
    font-weight: bold;
    text-align: center;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(0, 0, 0);

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 3px solid rgb(27, 6, 253);
    border-radius: 14px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(193, 252, 250);
    color: rgb(7, 7, 7);
    border: 3px solid rgb(27, 6, 253);
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(27, 6, 253);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(27, 6, 253);
    border-radius: 8px;
    background-color: rgb(193, 252, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}